@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-text-color : #212121;
  --secondry-text-color : #888;
  --accent-color:#8800c7;
}


body {
  margin: 0;
  font-family:"Cabin" , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 , h2 , h3 ,h4 ,h5 , h6{
  color: var(--primary-text-color);
}
a{
  text-decoration: none;
  color: white;
}

ul{
  list-style: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}
.hover-link{
  cursor: pointer;
  border-radius: 4px;

}
.hover-link:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
.hover-link:active{
  background-color: rgba(255, 255, 255, 0.2);
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary{
  padding: 12px 16px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
}
.btn-primary:hover {
  background-color: #9800df;
}

.btn-primary:active {
  background-color: #b413ff;
}